.container
  .col-1
  .col-10.main.tilt-left.zine.d-none.d-md-block
    .row
      = image_tag "hubcitysealtitle.svg", style: 'width:80%; margin-left:auto; margin-right:auto;'
    .row.pt-3
      .col-1
      .col-3.col-xs-6.tab.mx-1
        = link_to "Home",  root_path, :class => "tab-link" 
      .col-3.col-xs-6.tab.mx-1.active
        = link_to "Contact",  contact_path, :class => "tab-link-active" 
      .col-3.col-xs-6.tab.mx-1
        = link_to "Find a Copy",  finder_path, :class => "tab-link" 

    .row.photocopy-mask.pt-4
      .col-1
      .col{id: "shadowbox"}
        .h1.arial.main-text.rainbow_text_animated NOW SEEKING TRIPPERS
        .h4.arial.main-text Capture your experience of the Deadening Escape, <br> joyful creation of alternative Culture, <br> beyond the Eye-Gulp Of The Screen
        .h4.arial.main-text <br> The tantalysis of pulp & paper wage labour of the copy shop <br> <u>NOW TO BE HELD IN YOUR HAND</u>. Observe the culture <br> & BECOME THE CULTURE -spaces btwn each molecule dimnsh <br> ass hand passes the paper, briefly,, Connect
    
    .row.pt-4
      .col-1
      .col
        -# Add form here https://gist.github.com/stevecondylios/16a53b73f22621e3cde2e17096dbf5ca