.container
  .col-1.d-none.d-md-block
  .col-10.main.tilt-left.zine.d-none.d-md-block
    = render "articles/indexContent"
  .col-1.d-none.d-md-block
  .d-block.d-md-none.mobile
    = render "articles/indexContent"