.container 

  .container.menu.left.zine.d-none.d-md-block   
    .row.justify-content-center
      %header
        .h1.text-center.pt-5.hubcity HUB CITY SEAL
        .p.text-center Est. 2022
    .row.align-center
      .col.main-text
        .p.main-text.link Edition 001

  .container.d-md-none.bg-light
    .row
      %header
        .h1.text-center.pt-5 HUB CITY SEAL
        .p.text-center Est. 2022


