.tilt-left {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

body {
  background-image: url(hubcityback.png); 
  background-size: 115rem;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

.footer {
  bottom: 5rem;
  width: 100%;
  position: absolute;
}

.main {
  height: 80rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-image: url(menu-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Times New Roman", Times, serif;
}

.mobile {
  background: rgba(222, 231, 222, 0.85);
  border-radius: 1rem;
  height: 100%;
  width: 100%;
}

.arial  {
  font-family: "Arial", Times, serif;
}

.main-text {
  font-size: 1.5rem;
  width: 95%;
}

.zine {
  filter: grayscale(2%) contrast(1) brightness(90%);
}

.tab {
  border: 0 1rem 1rem 1rem;
  border-style: groove;
}

/* Main div for border to extend to 50% from bottom left corner */

.tab-bottom {
  position: relative;
}

.tab-bottom:after {
  content: '';
  width: 80%;
  height: 4px;
  background: rgba(76, 76, 76, 0.904);
  bottom: -4px;
  margin-left: 16%;
  margin-right: auto;
}

.tab-link {
  color: black;
}

.tab-link-active {
  color: whitesmoke;
}

.active {
  background-color: rgb(61, 60, 60);
}

#shadowBox {
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/opacity/see-through */
  border: 3px solid;
}

.rainbow {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  font-size: 2.5rem;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
