.tilt-left {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
}

body {
  background-image: url(hubcityseal-bg.jpg); 
  background-size: 100rem;
  font-family: sans-serif;
  padding: 20px;
}

.main {
  width: 60%;
  height: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-image: url(menu-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top; 
}

.main-text {
  padding-left: 5rem;
}

.zine {
  filter: grayscale(2%) contrast(1) brightness(90%);
}

.tab {
  border: 0 1rem 1rem 1rem;
  border-style: groove;
}

/* Main div for border to extend to 50% from bottom left corner */

.tab-bottom {
  position: relative;
}

.tab-bottom:after {
  content: '';
  width: 80%;
  height: 4px;
  background: rgba(76, 76, 76, 0.904);
  bottom: -4px;
  margin-left: 16%;
  margin-right: auto;
}

.tab-link {
  color: black;
}

.tab-link-active {
  color: whitesmoke;
}

.active {
  background-color: rgb(61, 60, 60);
}
